LogLevel = "info"
LogFormat = "text"

[Fargate]
  Cluster = "{{ fargate_cluster_name }}"
  Region = "{{ aws_region }}"
  Subnet = "{{ runner_subnet_id }}"
  SecurityGroup = "{{ runner_security_group_id }}"
  TaskDefinition = "{{ ecs_task_name }}:1"
  EnablePublicIP = true

[TaskMetadata]
  Directory = "{{ runner_install_dir }}/metadata"

[SSH]
  Username = "root"